
<ion-footer class="ion-no-border">
    <ion-toolbar>
        <ion-tabs>
            <ion-tab-bar slot="bottom">
                <ion-tab-button (click)="home()">
                    <ion-icon name="home"></ion-icon>
                    <ion-label>Home</ion-label>
                </ion-tab-button>

                <ion-tab-button (click)="list()">
                    <ion-icon name="book"></ion-icon>
                    <ion-label>Corsi</ion-label>
                </ion-tab-button>

               


         
                <ion-tab-button (click)="news()">
                    <ion-icon name="information-circle"></ion-icon>
                    <ion-label>News</ion-label>
                </ion-tab-button>
                <ion-tab-button (click)="area()">
                    <ion-icon name="person"></ion-icon>
                    <ion-label>Area Soci</ion-label>
                </ion-tab-button>

           
            </ion-tab-bar>
        </ion-tabs>
    </ion-toolbar>
</ion-footer>