
<ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button color="light"></ion-back-button>
      </ion-buttons>
      <ion-title>
        <ion-text color="light">News</ion-text>
      </ion-title>
      <ion-buttons slot="end">

        <ion-button size="small" shape="round" color="light">
          <ion-icon name=""></ion-icon>
      </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  
<ion-content>
    <img src="{{news.photo}}">

    <div class="ion-padding" *ngIf="news">



        <h3 [innerHTML]="news.page_title"></h3>
        <hr>

        <p [innerHTML]="news.description_1"></p>
    
        <p [innerHTML]="news.description_2"></p>






    </div>




</ion-content>
<footer></footer>