<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="dark">Area Soci</ion-text>
    </ion-title>
    <ion-buttons slot="end">
     
      <ion-button size="small" shape="round" color="dark">
        <ion-icon name=""></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
 
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" margin>
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <button [disabled]="loading" class="btn btn-primary btn-block">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Login
    </button>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">Password non valido</div>
</form>


</ion-content>

<footer></footer>